@font-face {
    font-family: 'minitel';
    src: url('../fonts/Minitel.woff') format('woff');
  }

:root {
    --primary: #55a5cf;
    --secondary: #263b60;
    --secondary-light: #2c77cc;
    --accent: #6cccff;
    --background: #222220;

    --externalPadding: 1rem 1rem;

    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: var(--background);
    font-family: "minitel";
    color: var(--primary);
    animation: textShadow 1.6s infinite;
}

#app {
    padding: 3rem 3rem;
    margin-bottom: 3rem;
}

/* TITLE STYLE */

c-title div {
    /* border: 1px solid var(--accent); */
    padding: var(--externalPadding);
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

/* NAV STYLE */

c-nav div {
    padding: var(--externalPadding);
    bottom: 0;
    padding-bottom: 3rem;
    position: fixed;
    width: 100%;
}

/* POSTS STYLE */

c-posts article {
    padding: var(--externalPadding);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 2rem;
}

c-posts div {
    height: 4rem;
}

c-posts h1 {
    font-size: 20px;
}

c-posts section, c-posts header{
    padding: 0rem 2rem;
}

/* CONNECTION/REGISTER/WRITE STYLE */

c-connection div, c-register div, c-write div {
    padding: var(--externalPadding);
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 70dvh;
}

c-connection label, c-register label, c-write label {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    white-space: nowrap;
    width: 60dvw;
}

c-connection input, c-register input, c-write input, select, textarea {
    width: 100%;
}

/* MESSAGES STYLE */

c-messages .messages {
  display: flex;
  align-items: start;
  justify-content: start;
  padding: var(--externalPadding);
  gap: 2rem;
}

c-messages .left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 2rem
}

c-messages .left header {
  width: 100%;
}

c-messages .left article {
  width: 100%;
}

c-messages .left section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-top: 1rem;
  width: 100%;
}

c-messages .right {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 70dvh;
  gap: 2rem
}

c-messages label {
  width: 100%;
  display: flex;
  white-space: nowrap;
}

c-messages input {
  width: 100%;
}

c-messages .right header {
  width: 100%;
}

c-messages .right article {
  width: 100%;
}

c-messages .right section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 1rem;
  width: 100%;
}

c-messages .sender {
  text-align: right;
}

/* GENERAL STYLE */

a {
    text-decoration: none;
    white-space: nowrap;
}

a:hover {
    background-color: var(--accent);
    color: var(--background);
}

input {
    border: none;
}

input:focus {
    outline: none;
}

select {
  border: none;
}

textarea {
  border: none;
  height: 20dvh;
}

button {
    border: none;
    background-color: var(--accent);
    color: var(--background);
    width: 100%;
    padding: 0.4rem 0;
}

hr {
  width: 100%;
}

.spacer {
    width: 100%;
}

.y_spacer {
    height: 100%;
}

.highlight {
    background-color: var(--accent);
    color: var(--background);
}

.unread-badge {
    padding-left: 1rem;
    background-color: var(--accent);
    color: var(--background);
}

.loader {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8); /* Assombrit l'arrière-plan */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loader::after {
    content: "□ □ □";
    display: flex;
    animation: dots 1.5s infinite;
}

@keyframes dots {
    0% { content: "□ □ □"; }
    25% { content: "■ □ □"; }
    50% { content: "■ ■ □"; }
    75% { content: "■ ■ ■"; }
}


@keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    5% {
      text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    10% {
      text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    15% {
      text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    20% {
      text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    25% {
      text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    30% {
      text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    35% {
      text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    40% {
      text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    45% {
      text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    50% {
      text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    55% {
      text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    60% {
      text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    65% {
      text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    70% {
      text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    75% {
      text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    80% {
      text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    85% {
      text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    90% {
      text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    95% {
      text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    100% {
      text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
  }